{% extends 'jobs/base.html' %}
{% load static %}


<!-- sliders -->
{% block sliders %}
{% endblock %}
<!--sliders end -->
<style>
    .ico-items {
        text-align: center;

    }


</style>
{% block content %}
<section>
    <div class="container">
        <h5 class="mt-2" style="color:red; text-align:center; ">APPLY PROCESS</h5>
        <br>
        <h1 style="text-align:center; font-weight: bold;margin-top: 3px; ">How it works </h1>
        <div class="row">
            <div class="col-md-4 mt-4">
                <div class="card mb-2">
                    <div class="text-center mt-2">

                        <i class="fa fa-search-plus fa-5x " aria-hidden="true"></i>

                    </div>
                    <div class="card-body">
                        <h4 style="text-align:center;">1. Search a Job</h4>
                        <p class="card-text mb-2" style="text-align: center;">Some quick example text to build on the
                            card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card mb-2">
                    <div class="text-center mt-2">
                        <i class="fa fa-laptop fa-5x" aria-hidden="true"></i>

                    </div>
                    <div class="card-body">
                        <h4 style="text-align:center;">2. Apply for a Job</h4>
                        <p class="card-text mb-2" style="text-align: center;">Some quick example text to build on the
                            card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card mb-2">
                    <div class="text-center mt-2">
                        <i class="fa fa-check-square fa-5x" aria-hidden="true"></i>

                    </div>
                    <div class="card-body">
                        <h4 style="text-align:center;">3. Get your Job</h4>
                        <p class="card-text mb-2" style="text-align: center;">Some quick example text to build on the
                            card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

