{% load static %}
<section>


    <div class=" p-4 p-md-5 mb-4 text-white bg-dark">
        <div class="col-md px-0">
            <div class="container">

                <h5 class="display-4 fst-italic">JOB FINDER: CONNECTING YOU TO THE WORLD</h5>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                    efficiently about what’s most interesting in this post’s contents.</p>

            </div>
        </div>
    </div>


</section>



