{% extends 'jobs/base.html' %}
{% load static %}

<!-- brand -->
{% block brand %}
{% endblock %}
<!--brand end -->
{% block content %}
<section class="mt-4 mb-4" style="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="clients">
                    <h2>OUR CLIENTS</h2>
                    <br>
                    <div class="row">
                        <div class="col-lg-4 md-6 sm-12">
                            <div class="card">
                                <img src="{% static 'images/download6.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Kimani</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 md-6 sm-12">
                            <div class="card">
                                <img src="{% static 'images/download6.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Kimani</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 md-6 sm-12">
                            <div class="card">
                                <img src="{% static 'images/download6.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Kimani</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="partners mt-2">
                    <h2>OUR PARTNERS</h2>
                    <div class="row">
                        <div class="col-lg-4 md-6 sm-12">
                            <div class="card">
                                <img src="{% static 'images/download6.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Kimani</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-4 md-6 sm-12">
                            <div class="card">
                                <img src="{% static 'images/download6.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Kimani</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-4 md-6 sm-12">
                            <div class="card">
                                <img src="{% static 'images/download6.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Kimani</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
</section>

{% endblock content %}


<div class="clients">
    <h2>OUR PARTNERS</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/download6.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Susan</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up
                        the bulk
                        of the card's content.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>