{% load static %}


<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand mr-5 m-2" href="{% url 'home' %}">JOB FINDER</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link px-3" href="{% url 'home' %}">Home</a>
                    <a class="nav-item nav-link px-3" href="{% url 'about' %}">About</a>
                    <a class="nav-item nav-link px-3" href="{% url 'job_search' %}">Find a Job</a>
                    <a class="nav-item nav-link px-3" href="{% url 'contact' %}">Contacts</a>
                </div>
                <!-- Navbar Right Side -->

                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link px-3" href="{% url 'logout'%}">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link px-3" href="{% url 'login' %}">Login</a>

                    <a class="nav-item nav-link px-3" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>


